@use 'reset-css/sass/reset';
@use './vars';

html,
body,
#root {
  height: 100%;
  min-height: 100%;
  width: 100%;
  position: relative;
}

body {
  font-family: vars.$defaultFontfamily;
  font-size: vars.$defaultFontSize;
  background: vars.$defaultBackgroundColor;
  color: vars.$defaultTextColor;
  line-height: vars.$defaultLineHeight;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
