@use '../../styles/mixins';
@use '../../styles/vars';

.segment {
  h1.title {
    @include mixins.h1;
  }

  h2.title {
    @include mixins.h2;
  }

  .description {
    font-size: 18px;
    margin-top: 5px;
  }

  .content {
    margin-top: 12px;
  }
}
